*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: judsonitalic;
    src: url(../Assets/Fonts/Judson/Judson-Italic.ttf);
}

@font-face {
    font-family: judson;
    src: url(../Assets/Fonts/Judson/Judson-Regular.ttf);
}
nav{
    background-color: #5D455F;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
nav div{
    flex-grow: 1;
}
nav p{
    margin-left: 1rem;
}
nav h1{
    color: #B29ABF;
    font-family: judsonitalic;
    
    margin-left: 0.5rem;
}
nav img{
    min-width: 1.2rem;
    max-height: 1.2rem;
    padding-left: 1rem;
}
nav a{
    text-decoration: none;
    color: #B29ABF;
    font-family: judson;
}
form{
    display: flex;
    flex-direction: column;
}
form > *{
    width: 12%;
    margin: 0.165rem;
}
body{
    background-color: #B29ABF;
    width: 100%;
}
footer{
    background-color: #5D455F;
}
h1{
    font-size: 3rem;
    color: #5D455F;
}
h2{
    font-size: 2rem;
    color: #5D455F;
}
p{
    color: #5D455F;
    font-size: 1rem;
}
label{
    color: #5D455F;
    font-size: 1rem;
    font-weight: 700;
}
input{
    color: #D7D7D7;
    border-radius: 5px;
    border: none;
    min-height: 1.25rem;
    margin-bottom: 1rem;
}
button{
    background-color: #B29ABF;
    color: #5D455F;
    border: none;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 600;
}

button:hover{
    background-color: #5D455F;
    color: #B29ABF;
    border-radius: 50px;
    font-weight: 600;
}

a{
    text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: #B29ABF;
}

footer img{
    min-width: 1.2rem;
    max-height: 1.2rem;
}

@keyframes slide {
from{
    transform: translateX(0);
}
    
to{
    transform: translateX(-100%);
}

}

.carasol{
    overflow: hidden;
    white-space: nowrap;
}

.carasolContainer{
    display: inline-block;
    animation: 15s slide infinite linear;
}

.carasolContainer img{
    height: 40rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid red;
}

.about > *{
    outline: 2px solid greenyellow;
}
.robin{
    display: relative;
    width:14%;
    left: 20px;
    height: auto;
}

.Countdown{
    display: relative;
    width:28%;
    height: auto;
}

.Layers{
    display: relative;
    width:28%;
    height: auto;
}

.offeredServices{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services{
    display: flex;
    align-content: space-between;
}

.services > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicePara{
    margin: 0.75rem;
    width: 50ch;
}

.serviceContainer{
    margin-top: 1rem;
}