*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: judsonitalic;
    src: url(../Assets/Fonts/Judson/Judson-Italic.ttf);
}

@font-face {
    font-family: judson;
    src: url(../Assets/Fonts/Judson/Judson-Regular.ttf);
}
nav{
    background-color: #5D455F;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
nav div{
    flex-grow: 1;
}
nav p{
    margin-left: 1rem;
}
nav h1{
    color: #B29ABF;
    font-family: judsonitalic;
    
    margin-left: 0.5rem;
}
nav img{
    min-width: 1.2rem;
    max-height: 1.2rem;
    padding-left: 1rem;
}
nav a{
    text-decoration: none;
    color: #B29ABF;
    font-family: judson;
}
form{
    display: flex;
    flex-direction: column;
}
form > *{
    width: 12%;
    margin: 0.165rem;
}
body{
    background-color: #B29ABF;
    width: 100%;
}
footer{
    background-color: #5D455F;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
h1{
    font-size: 3.75rem;
    color: #5D455F;
    white-space: nowrap;
}
h2{
    font-size: 2rem;
    color: #5D455F;
}
p{
    color: #5D455F;
    font-size: 1.25rem;
}
label{
    color: #5D455F;
    font-size: 1.25rem;
    font-weight: 700;
}
input{
    background-color: #D7D7D7;
    border-radius: 5px;
    border: none;
    min-height: 1.5rem;
    margin-bottom: 1rem;
    width: 33%;
}
button{
    background-color: #B29ABF;
    color: #5D455F;
    border: 1px solic #5D455F;
    border-radius: 0px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

button:hover{
    background-color: #5D455F;
    color: #B29ABF;
    border-radius: 50px;
    border: none;
    font-weight: 600;
}

a{
    text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: #B29ABF;
}

footer img{
    min-width: 1.2rem;
    max-height: 1.2rem;
}

@keyframes slide {
from{
    transform: translateX(0);
}
    
to{
    transform: translateX(-100%);
}

}

.carasol{
    overflow: hidden;
    white-space: nowrap;
}

.carasolContainer{
    display: inline-block;
    animation: 18s slide infinite linear;
}

.carasolContainer img{
    height: 45rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.AboutPara{
    width: 50%;
}
.AboutPictures{
    min-height: 100%;
    max-width: 50%;
}
.robin{
    z-index: 0;
    position: relative;
    width:19%;
    max-width: 19%;
    min-height: 50%;
    left: 20%;
}

.Countdown{
    z-index: 2;
    position: relative;
    top: -10px;
    left: -70px;
    width:33%;
    max-width: 33%;
    min-height: 50%;
}

.Layers{
    z-index: 1;
    position: relative;
    width:44%;
    max-width: 44%;
    min-height: 44%;
    top: 30px;
    left: -30px;
    left: 11%;
}

.offeredServices{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.services{
    display: flex;
    align-content: space-between;
}

.services > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicePara{
    margin: 0.75rem;
    width: 90%;
}

.serviceContainer{
    margin-top: 1rem;
}

.container{
    margin-top: 5rem;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contact{
    position: relative;
    width: 50%;
    margin-top: 0.5rem;
}
.messageInput{
    width: 97%;
    min-height: 4.75rem;
    background-color: #D7D7D7;
}
.disclaimer{
    position: absolute;
    width: 60%;
    top: 0px;
    right: 0px;
}

.lastIcon{
    margin-right: 3%;
}


.iconHolder{
    margin: 0.5% 0 0.25% 0;
}

@media all and (max-width: 700px){
    h1{
        font-size: 3.25rem;
    }
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1rem;
    }
    .services{
        flex-direction: column;
    }
    .contact{
        width: 80%;
    }
    .carasolContainer img{
        height: 40rem;
    }
    .AboutPictures{
        margin-right: 5%;
    }
    .robin{
        width:25%;
        max-width: 25%;
    }

    .Countdown{
        width:39%;
        max-width: 39%;
        min-height: 50%;
        top: -90px;
        left: 55%;
    }

    .Layers{
        width:50%;
        max-width: 50%;
        min-height: 50%;
    }
}